.exerciseForm__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 85vh;
}

.exerciseForm {
	width: 700px;
	padding: 1rem;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 12px var(--light-gray);
	margin: 1rem 0;
}

.exerciseForm__title {
	font-size: 1.3rem;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--dark-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-weight: 500;
}
.exerciseForm__title span {
	font-weight: 700;
}

.back-to-exercises {
	display: flex;
	align-items: center;
	font-size: 0.9rem;
	gap: 0.5rem;
	text-decoration: none;
	color: var(--dark-blue);
	padding: 0.5rem 1rem;
	background-color: var(--white);
	border-radius: 5px;
	font-weight: bold;
	transition: all 0.2s;
	width: fit-content;
	margin-bottom: 1rem;
}
.back-icon-exercises {
	font-size: 1.2rem;
}

.back-to-exercises:hover {
	background-color: var(--light-gray);
}

.sets-reps-container {
	display: flex;
	justify-content: space-around;
	margin: 1.5rem 0;
}

.sets-btn-group,
.reps-btn-group {
	display: flex;
	gap: 10px;
}

.sets-btn-group button,
.reps-btn-group button {
	padding: 10px;
	border: 1px solid var(--light-gray);
	border-radius: 8px;
	cursor: pointer;
	background: white;
}

.sets-btn-group button.selected,
.reps-btn-group button.selected {
	background: var(--cyan);
	color: white;
	border: 1px solid var(--cyan);
}

.add-exercise-btn {
	margin-top: 0.5rem;
	padding: 10px 20px;
	background-color: var(--dark-blue);
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.add-exercise-btn:hover {
	background-color: var(--magenta);
}

.add-exercise-btn:disabled {
	background-color: var(--light-gray);
	color: gray;
	cursor: not-allowed;
}

.errorMsg {
	margin-top: 20px;
	color: var(--magenta);
	font-size: 0.9rem;
	margin-top: 0.5rem;
}

@media (max-width: 768px) {
	.exerciseForm {
		width: 90%;
	}

	.sets-reps-container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}

	.sets-selector,
	.reps-selector {
		width: 80%;
	}

	.sets-btn-group,
	.reps-btn-group {
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}
}

@media (max-width: 550px) {
	.exerciseForm {
		width: 100%;
		border-radius: 0;
	}

	.sets-selector,
	.reps-selector {
		width: 100%;
		font-size: 0.85rem;
	}
}
