.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.6rem 2rem;
	background-color: var(--dark-blue);
	position: relative;
}

.navbar__logo a {
	color: var(--white);
	font-size: 1.3rem;
	transition: color 0.2s;
}

.navbar__logo a:hover {
	color: var(--magenta);
}

.navbar__links {
	display: flex;
	gap: 0.8rem;
	color: var(--white);
	font-weight: bold;
	font-family: var(--cta-font);
}

.navbar__links a {
	transition: color 0.2s;
}

.navbar__links a:hover {
	color: var(--magenta);
}

.register-btn {
	color: var(--magenta);
	transition: color 0.2s;
}

.register-btn:hover {
	color: var(--light-gray) !important;
}

.logout-btn {
	color: #979edd;
	cursor: pointer;
	transition: color 0.2s;
}

.logout-btn:hover {
	color: var(--light-gray);
}

/* Hamburger menu */
.navbar__toggle {
	display: none;
	cursor: pointer;
}

.active {
	color: var(--magenta);
	font-weight: bold;
}

@media (max-width: 768px) {
	.navbar__links {
		position: absolute;
		top: 100%;
		right: 0;
		background-color: var(--dark-blue);
		flex-direction: column;
		width: 100%;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-in-out;
	}

	/* Add padding to the child elements instead of the container */
	.navbar__links a,
	.navbar__links button {
		padding: 0.5rem 0; /* Padding for links and buttons */
		width: 100%; /* Optional: Make clickable area full width */
		text-align: center;
	}

	.navbar__links--open {
		max-height: 300px; /* Adjust as per content size */
	}

	.navbar__toggle {
		display: block;
	}
}

@media (max-width: 500px) {
	.navbar {
		padding: 0.5rem 1rem;
	}

	.navbar__logo a {
		font-size: 1.125rem;
	}
}
