.routine__day {
	font-size: 1.5rem;
	color: var(--dark-blue);
	margin-bottom: 1rem;
}

.exercises__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.exercises__title h3 {
	font-size: 1.3rem;
	margin: 0;
}

.exercises__title-add {
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--dark-blue);
	transition: color 0.2s;
}
.exercises__title-add:hover {
	color: var(--cyan);
}

.exercises__container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

/* Back to routines */
.back-to-routines {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;
	color: var(--dark-blue);
	padding: 0.5rem 1rem;
	background-color: var(--white);
	border-radius: 5px;
	font-weight: bold;
	transition: all 0.2s;
	width: fit-content;
	margin-bottom: 1rem;
}

.back-to-routines:hover {
	background-color: var(--light-gray);
}

.back-icon {
	font-size: 1.5rem;
}

.routine-card-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.options-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.4rem;
	background-color: var();
	cursor: pointer;
	font-size: 1.3rem;
	background-color: var(--white);
	transition: background-color 0.2s;
}
.options-btn:hover {
	background-color: var(--light-gray);
}

.options-btn svg {
	display: flex;
	justify-content: center;
	align-items: center;
}
